// VARIABLES

$motto-bg: #ffffff;
$motto-color: #8a8a8a;
$motto-font-size: u(1.7rem);
$motto-font-family: $G-font-family;
$motto-font-weight: 300;

// STYLES

.motto {
  background: $motto-bg;
  border-bottom: 1px solid darken($motto-bg, 10%);
  text-align: center;

  p {
    padding: u(1.1rem);
    color: $motto-color;
    font: {
      size: $motto-font-size;
      family: $motto-font-family;
      weight: $motto-font-weight;
    };
    line-height: 1.2em;
  }
}