/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- */

:root {
  --color-primary: #ffd400;
  --color-background: #131a20;
  --color-text: #fff;
  --color-text-secondary: #9b9b9b;
  --color-text-on-primary: #131a20;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  border-top: 0.6rem solid var(--color-primary);
  background: var(--color-background);
  color: var(--color-text);
}

html {
  font-size: 16px;
}

body {
  font-family: 'Encode Sans', sans-serif;
  display: inline-block;
  font-weight: lighter;
}

body * {
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.section {
  margin: 3.4rem 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4.5rem auto;
}

.logotype {
  font-size: 2.5rem;
  background: var(--color-primary);
  color: var(--color-text-on-primary);
  padding: 0.8rem 1rem;
  font-weight: 600;
}

.link {
  color: var(--color-primary);
  padding: 0.3rem;
  margin: 0 -0.3rem;
  text-decoration: none;
  font-weight: bold;
}

.link--inline {
  margin: 0;
}

@media all and (min-width: 480px) {
  .link:hover {
    background: var(--color-primary);
    color: var(--color-text-on-primary);
  }
}

.twitter {
  font-size: 1.2rem;
}

@media all and (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4.5rem auto;
  }

  .twitter {
    margin-top: 1rem;
  }

  .logotype {
    text-align: center;
  }
}

.heading {
  font-size: 0.7rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  font-weight: bolder;
  display: inline-block;
}

.paragraph {
  line-height: 1.6em;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

/* TALK */

.record__event {
  color: var(--color-text);
  margin-top: 0.3rem;
}

.record__event.link {
  margin-left: -0.3rem;
  margin-right: -0.3rem;
}

/* RECORD */

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}

.record__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.record__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 1rem;
}

@media all and (max-width: 480px) {
  .record {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .record__right {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem 0 0 0;
  }

  .record__language {
    margin-left: 0.5rem;
  }
}

.record__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.record__title {
  font-size: 1.4rem;
  color: var(--color-text);
}

.record__title--todo {
  color: var(--color-text);
}

.record__language,
.record__date {
  color: var(--color-text-secondary);
  letter-spacing: 0.1em;
  font-weight: 200;
  font-size: 0.8rem;
}

.record__language {
  margin-top: 0.3rem;
}

.record__date {
  white-space: nowrap;
}

.record__description {
  margin-top: 0.3rem;
  color: var(--color-text-secondary);
  line-height: 1.2em;
  font-weight: bolder;
}
