// VARIABLES

$footer-bg: #ffffff;
$footer-color: #8a8a8a;
$footer-height: 4rem;
$footer-font-size: u(1.5rem);
$footer-font-family: "Roboto Slab";
$footer-font-weight: 300;

// STYLES

.footer{
  background: $motto-bg;
  text-align: center;
  border-top: 1px solid darken($motto-bg, 10%);
  p {
    padding: u(1.1rem);
      color: $motto-color;
    font: {
      size: $motto-font-size;
      family: $motto-font-family;
      weight: $motto-font-weight;
    };
    line-height: 1.2em;
  }

  a{
    @extend %anchor;
  }

  b, strong{
    font-weight: bold;
  }
}